body {
  padding: 0;
  margin: 0;
  background: #9B59B6;
  font-family: Arial, sans-serif;
  font-size: large;
}

nav {
  background-color: #439b46;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  height: 50px;
  gap: 50px;
  overflow: hidden;
}

nav form {
  margin-right: auto;
  margin-left: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper{   
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  height: 520px;
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;    
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.calendarEntries {
  height: 520px;
  border-radius: 10px;
  width: 450px;
  background-color:#439b46;
}

.week-day {
  color: #ebebeb;
  font-size: larger;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.log-out {
  text-decoration: none;
  color: white;
  font-size: large;
}

.log-out:hover {
  background-color: #53c957;
}

.calendarEntries {
  display: flex;
  flex-direction: column;
}

.div-events {
  background-color: #333;
  overflow-y: scroll;
  border-radius: 10px;
  height: 87%;
  width: 100%;
  gap: 8px;
}

.event-main-div {
  background-color: #9b9b9b;
  border-radius: 8px;
  margin: 8px;
  padding-bottom: 8px;
}

.event-div-info {
  /* background-color: blue; */
  padding-top: 15px;
  font-size: medium;
  padding-left: 8px;
}

.row-spacebetween {
  /* background-color: purple; */
  font-size: medium;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  /* padding-right: 8px; */
}

.event-main-div p {
  margin: 4px;
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-row button {
  width: 80px;
  height: 40px;
  background-color:#439b46;
  font-size: medium;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  /* padding-bottom: 10px; */
}

.add-events-button-section {
  display: flex;
  justify-content: center;
  padding-left: 450px;
  align-items: center;
  padding-top: 8px;
}

.add-event-button {
  width: 120px;
  height: 40px;
  background-color:#439b46;
  font-size: medium;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

.log-out {
  text-decoration: none;
  color: white;
  font-size: large;
  margin-right: 50px;
}

.log-out:hover {
  background-color: #53c957;
}

.about-us {
  text-decoration: none;
  color: white;
  font-size: large;
}

.about-us:hover {
  background-color: #53c957;
}

.cal {
  text-decoration: none;
  color: white;
  font-size: large;
}

.cal:hover {
  background-color: #53c957;
}