body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c3c3c3;
    overflow: hidden;
}

nav {
    background-color: #439b46;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    gap: 50px;
    overflow: hidden;
}

main {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-row {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 50vw;
    font-size:medium;
    padding: 10px;
    border-radius: 8px;
}

.city-tags-search {
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
}

.main-search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
      
}

.wrapper {
    position: relative;
    overflow: hidden;
    filter: blur(0);
    transition: filter 0.5s ease-in-out;
}

.search-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.blur {
    filter: blur(5px);
}

.blur2 {
    filter: blur(0);
}

@keyframes shiftAnimation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-300px);
    }
}

.shifted {
    animation: shiftAnimation 1s ease-in-out; 
    transform: translateY(-300px);
}

button {
    cursor: pointer;
}
